.trading-card {
    background-image:
        linear-gradient(135deg,
            rgba(50, 0, 0, 0.7),
            rgba(197, 12, 12, 0.9)),
        url("../img/style/scratched.jpg");
    background-blend-mode: multiply;
}

.card-name,
.card-type,
.card-cost,
.card-footer {
    background-image:
        linear-gradient(135deg,
            rgba(197, 12, 12, 0.9),
            rgba(50, 0, 0, 0.7)),
        url("../img/style/stoned.jpg");
    background-blend-mode: multiply;

}